body {
        font-family: Arial;
        background: #f4f6f9;
        padding: 20px;
      }
      .box {
        max-width: 800px;
        margin: auto;
        background: #fff;
        padding: 25px;
      }
      img {
        width: 100%;
        max-width: 400px;
        display: block;
        margin: auto;
      }
      h1,h2 {
        text-align: center;
      }
      p {
        text-align: center;
        font-size: 18px;
      }
      input,textarea {
        width: 100%;
        padding: 10px;
        margin: 8px 0 15px;
        border: 1px solid #ccc;
      }
      button,a {
        display: inline-block;
        padding: 10px ;
        text-decoration: none;
        border: none;
        cursor: pointer;
      }
      button {
        background: #198754;
        color: #fff;
      }
      a {
        background: #6c757d;
        color: #fff;
      }